/* learning options css */
.options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.option-button {
  padding: 0.5rem;
  border-radius: 10px;
  background: transparent;
  border: 1px solid green;
  margin: 3px;
  text-align: left;
}

.link-list {
  padding: 0;
}

.link-list-item {
  text-align: left;
}

ul.link-list {
  list-style-type: none;
}

.option-link {
  text-decoration: none;
  color: black;
}
/* .link-list-item-url {
  text-decoration: none;
  margin: 6px;
  display: block;
  color: #1d1d1d;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
} */

.react-chatbot-kit-chat-input-container {
  display: none !important;
}

.react-chatbot-kit-chat-inner-container {
  margin-bottom: 0 !important;
  height: auto !important;
}

.react-chatbot-kit-chat-container {
  width: 350px !important;
  height: auto !important;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px !important;
}

.react-chatbot-kit-chat-message-container {
  overflow-x: hidden !important;
}
